{% extends "blog/base.html" %}

    {% block body %}
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div id="skill" class="jumbotron">
            <h2 class="text-center">Articles</h2>
            {% if blogs %}
                <div class="d-flex flex-row">
                    {% for blog in blogs %}
                        <div class="card mx-auto" style="width:15rem;">
                            <div class="card-body">
                                <h2><a href="">{{ blog.title }}</a></h2>
                                <p>created: {{ blog.created_date }}</p>
                                {% if blog.is_published %}
                                    <p>published: {{ blog.published_date }}</p>
                                    <a href="{% url 'blog:unpublishing' blog.id %}">unpublish!!</a>
                                {% else %}
                                    <a href="{% url 'blog:publishing' blog.id %}">publish!!</a>
                                {% endif %}
                                <p>{{ blog.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
            <p>No articles.</p>
            {% endif %}
        </div>

        
    {% endblock %}