{% extends "blog/base.html" %}

    {% block body %}
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            {% if posts %}
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                            <div class="date">
                                {% if post.is_published %}
                                    <p>published: {{ post.published_date }}</p>
                                {% else %}
                                    <p>published: not published</p>
                                {% endif %}
                                <p>created: {{ post.created_date }}</p>
                            </div>
                            <a href="{% url 'blog:detail' post.id %}">show detail</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <p>No articles.</p>
            {% endif %}
        </div>        
    {% endblock %}